@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');


#days1 {
  font-size: 24px; /* 기본 폰트 사이즈를 16px로 지정합니다. */
  font-family: 'BhuTuka Expanded One';
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 40%;
    color: rgb(255, 255, 255);
    left: 50%; /* 요소의 수평 중앙으로 지정합니다. */
    transform: translateX(-50%); /* 요소의 중앙을 수평 중앙으로 이동합니다. */
}

#days2 {
  font-size: 24px; /* 기본 폰트 사이즈를 16px로 지정합니다. */
  font-family: 'BhuTuka Expanded One';
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 44%;
    color: rgb(255, 255, 255);
    left: 50%; /* 요소의 수평 중앙으로 지정합니다. */
    transform: translateX(-50%); /* 요소의 중앙을 수평 중앙으로 이동합니다. */
}



@media (min-width: 768px) {
#days1 {
    font-family: 'BhuTuka Expanded One';
    text-decoration: none;
    position: absolute;
    text-align: center;
    top: 40%;
    color: rgb(255, 255, 255);
    font-size: 3em;
    left: 50%; /* 요소의 수평 중앙으로 지정합니다. */
    transform: translateX(-50%); /* 요소의 중앙을 수평 중앙으로 이동합니다. */
  }
}


    @media (min-width: 768px) {
        #days2 {
            font-family: 'BhuTuka Expanded One';
            text-decoration: none;
            position: absolute;
            text-align: center;
            top: 47%;
            color: rgb(255, 255, 255);
            font-size: 3em;
            left: 50%; /* 요소의 수평 중앙으로 지정합니다. */
            transform: translateX(-50%); /* 요소의 중앙을 수평 중앙으로 이동합니다. */
          }
        }
        
    
  body {
    background-color: rgb(20, 20, 20);
  }
  